#view-cars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.car-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    width: 20rem;
    height: 25rem;
    border-radius: 10px;
    margin: 1rem;
}

.car-card img {
    width: 15rem;
    height: 10rem;
}